{
    "extends": "eslint:recommended",
    "globals": {
        "mws":true,
        "PIXI":true,
        "game":true,
        "com":true
    },
    "rules":{
        "no-mixed-spaces-and-tabs":off,
        "yoda":"error",
        "eqeqeq":"off",
        "complexity":["error", 10],
        "max-depth":"error"
    },
    
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    }
}
